html, body, figure, ul, li {
  border: 0;
  padding: 0;
  margin: 0;

  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
  background: transparent;
  color: inherit;

}

body {
  font-family: sans-serif;
  font-size: 16px;
}

figure div.notification {
  position: absolute;
  box-shadow: 2px 2px 2px grey;
  text-align: center;
  display: none;
  padding: 5px;
  width: 410px;
  left: 23%;
  top: 40%;
  background: grey;
  color: white;
  font-size: 24px;

}

figure div.notification div.game-over {
  font-weight: bold;
  font-size: 36px;
}

figure div.notification div {
  margin: 30px;
}

figure div.notification div.play-button:hover {
  cursor: pointer;
  color: yellow;
}

figure {
  margin: 0 auto;
  width: 800px;
  position: relative;
}

ul {
  list-style: none;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

.board {
  margin: 10px auto;
  display: block;
  width: 600px;
  border: 1px solid black;
  background: white;
}

.square {
  display: block;
  float: left;
  width: 28px;
  height: 28px;
  border: 1px dotted lightgrey;
}

.snake {
  background: yellow;
}

.apple {
  background: red;
  border-radius : 50%;
}

figure h4.score {
  font-size: 32px;
  text-align: center;
}

figure h4.score:after {
  content: attr(data-score);
}
