html, body, figure, ul, li {
  border: 0;
  padding: 0;
  margin: 0;

  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
  background: transparent;
  color: inherit;

}

body {
  font-family: sans-serif;
  font-size: 16px;
}

figure div.notification {
  position: absolute;
  box-shadow: 2px 2px 2px grey;
  text-align: center;
  display: none;
  padding: 5px;
  width: 410px;
  left: 23%;
  top: 40%;
  background: grey;
  color: white;
  font-size: 24px;

}

div.play-modes {
  margin: 0 auto;
  width: 500px;
}

div.play-modes a.active {
  background: lightgrey;
}

div.play-modes div.play-modes-buttons a {
  float: left;
  display: block;
}

div.play-modes div.play-modes-buttons {
  float: left;
}

div.play-modes a {
  display: block;
  cursor: pointer;
  background: grey;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
}

div.play-modes > a.reset-scores {
  float: right;
  border-radius: 5px;
  background: black;
  color: white;
  display: block;
  cursor: pointer;
  width: 130px;
}

figure div.notification div.new-high-score {
  display: none;
  color: red;
}

figure div.notification div.game-over {
  font-weight: bold;
  font-size: 30px;
}

figure div.notification div {
  margin: 30px;
}

figure div.notification div.play-button:hover {
  cursor: pointer;
  color: yellow;
}

figure {
  margin: 0 auto;
  width: 800px;
  position: relative;
}

ul {
  list-style: none;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

.board {
  margin: 10px auto;
  display: block;
  width: 500px;
  border: 1px solid black;
  background: white;
}

.square {
  display: block;
  float: left;
  width: 23px;
  height: 23px;
  border: 1px dotted lightgrey;
}

.snake {
  background: lightgrey;
}

.player2 {
  background: orange;
}

.apple {
  background: red;
  border-radius : 50%;
}

figure div.scores {
  width: 350px;
  margin: 0 auto;
}

figure div > h4 {
  display: block;
}

figure div > h4.score {
  float: left;
}

figure div > h4.high-score {
  float:right;
}

figure h4 {
  font-size: 24px;
  text-align: center;
}

figure h4.score:after {
  content: attr(data-score);
}
figure h4.high-score:after {
  content: attr(data-score);
}
