html, body, figure, ul, li {
  border: 0;
  padding: 0;
  margin: 0;

  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
  background: transparent;
  color: inherit;

}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  background: lightyellow;
}

figure div.notification {
  z-index: 2;
  position: absolute;
  box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.77);
  text-align: center;
  display: none;
  padding: 5px;
  width: 410px;
  left: 23%;
  top: 40%;
  background: white;
  color: black;
  font-size: 24px;

}

li.head-north:after {
  display: block;
    font-weight: bold;
    position: relative;
    content: ":";
    font-size: 20px;
    color: black;
    top: -37px;
    left: -2px;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    transform: rotate(-90deg)}
li.head-east:after {
  display: block;
    font-weight: bold;
    position: relative;
    content: ":";
    font-size: 20px;
    color: black;
    top: -25px;
    right: -11px;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;}
li.head-west:after {
  display: block;
    font-weight: bold;
    position: relative;
    content: ":";
    font-size: 20px;
    color: black;
    top: -25px;
    right: -5px;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  }
li.head-south:after {
  display: block;
    font-weight: bold;
    position: relative;
    content: ":";
    font-size: 20px;
    color: black;
    top: -28px;
    left: -2px;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    transform: rotate(-90deg)
  }
li.head-north:before {
  display: block;
    font-weight: bold;
    position: relative;
    content: "Y";
    color: red;
    top: -16px;
    right: -7px;
  }
li.head-east:before {
  display: block;
   font-weight: bold;
   position: relative;
   content: "Y";
   color: red;
   right:-17px;
   bottom: -6px;
   transform: rotate(90deg);
 }
li.head-west:before {
    display: block;
    font-weight: bold;
    position: relative;
    left:-17px;
    top: -6px;
    content: "Y";
    color: red;
    transform: rotate(-90deg);
}
li.head-south:before {
  display: block;
   font-weight: bold;
   position: relative;
   content: "Y";
   color: red;
   transform: rotate(-180deg);
   bottom:-20px;
   left: -7px;
 }

div.play-modes {
  margin: 0 auto;
  width: 500px;
}

div.play-modes a.active {
  box-shadow: inset 1px 1px 1px lightgrey;
  background: darkgrey;
  color: white;
}

div.winner {
  color: blue;
}


div.play-modes div.play-modes-buttons a {
  float: left;
  display: block;
}

div.play-modes div.play-modes-buttons {
  float: left;
}

div.play-modes a {
  box-shadow: 1px 1px 1px black;
  display: block;
  cursor: pointer;
  background: lightgrey;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
}

div.play-modes > a.reset-scores {
  float: right;
  border-radius: 5px;
  background: black;
  color: white;
  display: block;
  cursor: pointer;
  width: 130px;
}

figure div.notification div.new-high-score {
  display: none;
  color: red;
}

figure div.notification div.game-over {
  font-weight: bold;
  font-size: 30px;
}

figure div.notification div {
  margin: 30px;
}

figure div.notification div.play-button:hover {
  cursor: pointer;
  color: yellow;
}

figure.paused {
  opacity: 0.5;
}

figure {
  margin: 20px auto;
  width: 800px;
  position: relative;
}

ul {
  list-style: none;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

.board {
  margin: 0 auto;
  display: block;
  width: 500px;
  border: 3px solid black;
  background: white;
  margin-bottom: 3px;
  }

.square {
  display: block;
  float: left;
  width: 23px;
  height: 23px;
  border: 1px dotted lightgrey;
}

.snake {
  border: 1px solid darkgrey;
  border-radius: 5px;
  background: lightgrey;
}

.player2 {
  border: 1px solid darkorange;
  border-radius: 5px;
  background: orange;
}

div.instructions {

  display: block;
  font-size: 14px;
  width: 500px;
  text-align: center;
  margin: 10px auto;
}

.apple {
  background: red;
  border: 1px solid black;
  border-radius : 65%;
  box-shadow: inset 8px -8px 5px 0px rgba(128,0,0,0.59);
  /*box-shadow: inset 2px 3px 2px darkred;*/
}

.apple:after {
  content: "~";
  display: inline-block;
  transform: rotate(140deg);
  font-size: 30px;
  color: green;
  left: 10px;
  top: -16px;
  position: relative;
}



figure div.scores {
  width: 500px;
  margin: 0 auto;
  margin-bottom: 10px;
}

figure div > h4 {
  margin: 0;
  display: block;
}

figure div > h4.score {
  float: left;
}

figure div > h4.high-score {
  float:right;
}

figure h4 {
  font-size: 24px;
  text-align: center;
}

figure h4.score:after {
  content: attr(data-score);
}
figure h4.high-score:after {
  content: attr(data-score);
}
