html, body, figure, ul, li {
  border: 0;
  padding: 0;
  margin: 0;

  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
  background: transparent;
  color: inherit;

}

ul {
  list-style: none;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

.board {
  margin: 10px auto;
  display: block;
  width: 600px;
  border: 1px solid black;
  background: white;
}

.square {
  display: block;
  float: left;
  width: 28px;
  height: 28px;
  border: 1px dotted lightgrey;
}

.snake {
  background: yellow;
}

.apple {
  background: red;
  border-radius : 50%;
}

figure h4.score:after {
  content: attr(data-score);
}
