html, body, figure, ul, li {
  border: 0;
  padding: 0;
  margin: 0;

  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
  background: transparent;
  color: inherit;

}

ul {
  list-style: none;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

.board {
  margin: 10px auto;
  display: block;
  width: 800px;
  border: 2px solid black;
  background: white;
}

.square {
  display: block;
  float: left;
  width: 38px;
  height: 38px;
  border: 1px solid black;
}

.snake {
  background: yellow;
  border: 1px solid yellow;
  border-radius: 5px;
}

.apple {
  background: red;
}

figure {


}
